body {
    font-size: large;
    padding: 10px;
    font-weight: bold;
   
    
}

div {
   
    background-color: aquamarine;
    width: 400px;
    padding: 10px 10px;
    margin: 5px;
    border-radius: 5px;
}

.thongtin {
    width: 395px;
   border-radius: 5px;
}

textarea {
    width: 395px;
    height: 80px;
    border-radius: 5px;

}
    



.bt {
    background-color: rgb(35, 0, 86);
    color: white;
    width: 402px;
    height: 30px;
    border-radius: 5px;
    
}